<header class="{{page}}__header appbar">
  <div class="appbar__section">
    <h1 class="appbar__app-name">Story Book</h1>
  </div>
</header>
<main class="{{page}}__main main">
  <div class="{{page}}__login-wrapper">
    <div class="login-card">
      <p class="login-card__text">Create stories about your life</p>
      <div class="btn-group btn-group--center">
        <a href="/dashboard" class="btn btn--login">Login with Google</a>
      </div>
    </div>
  </div>
</main>
<footer class="{{page}}__footer footer">
  <p class="footer__copyright">Copyright Haroun Ach 2021</p>
</footer>